<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memo">

	<select id="getSelectAll" resultType="boardBasicMybatis.model.dto.BoardBasicMybatisDTO">
		select * from ${table_memo} 
		where 1 = 1 and ${search_option} like '%' || #{search_data} || '%'
		order by no desc
	</select>
	
	<select id="getSelectOne" resultType="boardBasicMybatis.model.dto.BoardBasicMybatisDTO">
		select * from ${table_name} where no = #{no}
	</select>
	
	<select id="getTotalRecord" resultType="int">
		select count(*) from ${table_memo} where 1 = 1 and ${search_option} like '%' || #{search_data} || '%'
	</select>
	
	<insert id="setInsert">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select seq_boardbasic.nextval from dual
		</selectKey>
		insert into ${table_memo} ( no, writer, content, regi_date ) 
		values ( #{no}, #{dto.writer}, #{dto.content}, sysdate )
	</insert>

	<update id="setUpdate">
		update ${table_memo} set writer = #{dto.writer}, content = #{dto.content} where no = #{dto.no}
	</update>

	<delete id="setDelete">
		delete from ${table_memo} where no = #{no}
	</delete>
</mapper>
